@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Esta aplicação web tem como objetivo demonstrar a utilização da ferramenta Signalr para obter como no exemplo a cotação em tempo real em diversos clientes conectados nos mais diversos dispositivos e browser (Chrome, Firefox, IE, Opera).</p>
<br />
<p>Esta é a versão inicial, caso queira contribuir só enviar o commit para:</p>
<br />
<address>
    <strong>Git:</strong>   <a href="https://github.com/DevOpsCode/MercadoCapital.git">DevOpsCode/MercadoCapital</a><br />    
</address>
