@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Online on the internet<br />
    Brasil, GRU <br />    
</address>

<address>
    <strong>Git:</strong>   <a href="https://github.com/DevOpsCode/MercadoCapital.git">DevOpsCode/MercadoCapital</a><br />
    <strong>Bruno Emílio:</strong> <a href="https://www.linkedin.com/in/brnemilio/">Linkedin</a>
</address>