@{
    ViewBag.Title = "Página inicial";
}

<div class="jumbotron">
    <h1>Simulação de cotação em tempo real</h1>
    <p class="lead">Click no menu Cotação para visualizar o resultado da simulação que se atualiza em 250 milissegundos</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-9">
        <h2>SignalR - Em tempo real</h2>
        <p>
            Esta aplicação web tem como objetivo demonstrar a utilização da ferramenta Signalr para obter como no exemplo a cotação em tempo real em diversos clientes conectados, nos mais diversos dispositivos e browser (Chrome, Firefox, IE, Opera).
        </p>
        <p><a class="btn btn-default" href="https://github.com/DevOpsCode">Learn more &raquo;</a></p>
    </div>
</div>